html {
    color: white;
}

@font-face {
    font-family: "DINNext-Regular";
    src: url("fonts/DINNextCYR-Regular.otf");
}

@font-face {
    font-family: "DINNext-Light";
    src: url("fonts/DINNextCYR-Light.woff");
}

.content {
  /* remove background offset at the top */
  overflow: auto;
  position: relative;
}

.content::before {
  content: "";
  position: fixed;
  top: -5%;
  left: -5%;
  z-index: -1;

  display: block;
  background-image: url("assets/background.png");
  background-size:cover;
  width: 110%;
  height: 110%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}